* {
    font-family: Helvetica;
    text-align: left;
}

h2 {
    color: cornflowerblue;
}

th {
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
}

td {
    background-color: #edf3f9;
    padding: 10px;
}